**LOOPS**

In a programming language, a loop is a statement that contains instructions that continually repeats until a certain condition is reached.

Loops help us remove the redundancy of code when a task has to be repeated several times. With the use of loops, we can cut short those hundred lines of code to a few. Suppose you want to print the text “Hello, World!” 10 times. Rather than writing a print statement 10 times, you can make use of loops by indicating the number of repetitions needed.

**IF / ELIF / ELSE STATEMENT**

We want to give our program the ability to make decisions. This can be done using an if statement. An if statement uses a comparison to get a boolean. If the boolean is True, the statement block is executed. If the boolean is False we skip to what follows after the block.

In [1]:
var_1 = 4
var_2 = 5

In [2]:
if var_1 < var_2:
    print("The block has been run")

The block has been run

In [3]:

if var_1 > var_2:
    print("The block has been run")
    
print("I'm outside the block, and they're going to call me anyway")

I'm outside the block, and they're going to call me anyway

There are times that we want to have a default action, which we want to happen in case the comparison is False. For that we can use an else statement. Think of it like asking yourself, "If I reach into my bag and find a $50 bill, I'll buy some nachos; if there's none, I'll watch the movie crying my eyes out."

We implement the default action like this:

In [4]:
if var_1 > var_2:
    print("The condition has been met")
else:
    print("The condition has not been met, so I print")

The condition has not been met, so I print

If we want there to be more than two options, we can add options using the elif statement:

In [5]:
if var_1 > var_2:
    print("The first condition has been met")
elif var_1 < var_2:
    print("The second condition has been met")
else:
    print("The first two comparisons were False")

The second condition has been met

In [6]:
'''In this program, 
we check if the number is positive or
negative or zero and 
display an appropriate message'''

num = 3.4

# Try these two variations as well:
# num = 0
# num = -4.5

if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Positive number

Q1. Write a program to accept percentage from the user and display the grade according to the following criteria:

         Marks                                    Grade
         > 90                                         A
         > 80 and <= 90                               B
         >= 60 and <= 80                              C
         below 60                                     D

In [37]:
    num = 60

    if num > 90:
       print("A")
    elif num > 80:
       print("B")
    elif num > 60:
       print("C")
    elif num == 60:
       print("B")
    elif num <= 80:
       print("C")
    elif num < 60:
       print("D")

    else:
       print("D")

B

**FOR LOOPS**

For loops help us automate processes. Basically, we first define what we want to iterate over (or loop), then we define a variable (or variables) that will receive each value of the iteration, and then we have the for loop block, which is where we carry out the processes to be automated. See what they look like in action:

In [38]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [39]:
list_of_numbers = []

for i in range(0, 50):
    list_of_numbers.append(i)
    
print(list_of_numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [41]:
number = 150

for _ in range(0, 20):
    
    # this process is independent of the loop, so we don't use the loop variable
    # in this case the loop is only used to perform a task repeatedly
    
    number = number + 1

print(number)
print(list_of_numbers)

170
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [43]:
 dict_1 = {
    'a': 1,
    'b': 2,
    'c': 3,
    'd': 4,
    'e': 5
}

for key in dict_1:
    print(dict_1[key])

1
2
3
4
5

CHALLENGE: Write a Python program that prints all the numbers from 0 to 6 except 3 and 6

In [51]:
list_of_numbers = []

for i in range(0, 7):
    list_of_numbers.append(i)
print(list_of_numbers)   
print(0,1,2,4,5)

[0, 1, 2, 3, 4, 5, 6]
0 1 2 4 5

Challenge: Write a Python program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [71]:
for i in range(1, 50):

    if i % 3 :
       print("Buzz")
    elif i % 5:
       print("FizzBuzz")

Buzz
Buzz
FizzBuzz
Buzz
Buzz
FizzBuzz
Buzz
Buzz
FizzBuzz
Buzz
Buzz
FizzBuzz
Buzz
Buzz
Buzz
Buzz
FizzBuzz
Buzz
Buzz
FizzBuzz
Buzz
Buzz
FizzBuzz
Buzz
Buzz
FizzBuzz
Buzz
Buzz
Buzz
Buzz
FizzBuzz
Buzz
Buzz
FizzBuzz
Buzz
Buzz
FizzBuzz
Buzz
Buzz
FizzBuzz
Buzz
Buzz
Buzz
Buzz
FizzBuzz
Buzz

Challenge: Write a program to accept a number from 1 to 7 and display the name of the day like 1 for Sunday , 2 for Monday and so on.

In [79]:
for i in range(1, 8):

    if i == 1 :
       print("Sunday")
    elif i == 2 :
       print("Monday")
       
    elif i == 5 :
       print("Thursday")
    elif i == 3 :
       print("Tuesday")
    elif i == 4 :
       print("Wednesday")
    
    elif i == 6 :
       print("friday")
    elif i == 7 :
       print("saturday")

Sunday
Monday
Tuesday
Wednesday
Thursday
friday
saturday

**WHILE LOOPS**

A while loop allows you to repeat the execution of a group of statements as long as a condition is true (that is, as long as the condition has the value True).

The execution of this while control structure is as follows:

Python evaluates the condition:
- if the result is True, the body of the loop is executed. After the loop body is executed, the process is repeated (the condition is evaluated again, and if true, the loop body is executed again) over and over again as long as the condition is true.
- if the result is False, the body of the loop is not executed and execution of the rest of the program continues.


The variable or variables that appear in the condition are often called control variables. Control variables must be defined before the while loop and modified in the while loop.

In [80]:
i = 1
while i <= 3:
    print(i)
    i += 1
print("Program finished")

1
2
3
Program finished

In [81]:

i = 1
while i <= 50:
    print(i)
    i = 3 * i + 1
print("Program finished")

1
4
13
40
Program finished

In [2]:
number = int(input("Enter a positive number: "))
while number < 0:
    print("You have entered a negative number! Please try again")
    number = int(input("Enter a positive number: "))
print("Thank you for your collaboration")

Enter a positive number: 3
Thank you for your collaboration

Using while loop and if statement, iterate through the list and if there is a 100, print it with its index number. i.e.: "There is a 100 at index no: 5"

In [7]:
number = int(input("There is a 100 at index no: 5"))
while number == 100:
    print("You have entered a number higuer 100! Please try again")
    number = int(input("Enter a 100 number: "))
print("Thank you for your collaboration")

There is a 100 at index no: 5123
Thank you for your collaboration

Using while loop and an if statement write a function named name_adder which appends all the elements in a list to a new list unless the element is an empty string: "".

In [13]:
number = int(input("I Think it is a list"))
while number == 10:
    print("You have entered 0! Please try again")
    number = int(input("Enter a 1 number: "))
print("It is an empty string")

I Think it is a list10
You have entered 0! Please try again
Enter a 1 number: 1
It is an empty string

Create a list from 1 to 100, then split this list in two, one with all the multiples of 3 and the other with remaining ones.

In [21]:
while number == 2:
    print("split this list in two please")
    number = int(input("Enter a sip number: "))
print("jiji")

jiji