<a href="https://colab.research.google.com/github/PilarHS/Python-Classes/blob/main/HW%20%232.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**ACTIVITY 1**

a) Defining a list

Below this cell is a name of a variable that has not yet been assigned:

In [24]:
my_information =[1,2,3,4,5,6,7]

Now, we have a "print" that prints a string formatted to display some information about you (The triple quotes ''' are useful for generating multi-line strings):

In [25]:

print(f'''
Hello! My name is {my_information[0]}. Everyone tells me {my_information[1]}.
My favorite food is {my_information[2]}. And the food I hate the most is {my_information[3]}.
My ideal job would be {my_information[4]}.
Thanks Ciao!
''')

Hello! My name is 1. Everyone tells me 2.
My favorite food is 3. And the food I hate the most is 4.
My ideal job would be 5.
Thanks Ciao!

For this string to work, assign a list to the my_information variable with all the information needed to print your microbe below the cell.

b) A list built with variables

Below this cell we see the names of several variables and a list that contains them.

In [27]:
info_0 =1
info_1 =2
info_2 =3
info_3 =4
info_4 =5

missing_info=[info_0, info_1, info_2, info_3, info_4]


Now, we have a print that prints a little history using the missing_info list that contains the other variables:

In [29]:
print(f'''
Someday the {missing_info[0]} will achieve their goal. Their goal of {missing_info[1]}.
On that day, humans {missing_info[2]} and will have {missing_info[3]}.
For that reason I every day {missing_info[4]}.
''')

Someday the 1 will achieve their goal. Their goal of 2.
On that day, humans 3 and will have 4.
For that reason I every day 5.

Your challenge will be to assign the info_x variables with the information you want to create a story to your liking. Each variable can contain a string that has several words (phrases, then). If you feel like it, share the story with your classmates!

**ACTIVITY 2**

a) Modify to remove differences

Below you have two defined lists:

In [56]:

list_1 = [3.4, 0.7, 99.9, 5.41, 6.23, 7.9]

list_2 = [3.4, 63.4, 0.7, 6.46, 99.9, 2.2, 5.41]

print(list_1[-1])
print(list_2[-1])
print(list_2[-2],[-3])
print(list_1.pop())
print(list_2.reverse())
print(list_1.sort())

7.9
5.41
2.2 [-3]
7.9
None
None

In [13]:
list_1 = [3.4, 0.7, 99.9, 5.41, 6.23, 7.9]

list_2 = [3.4, 63.4, 0.7, 6.46, 99.9, 2.2, 5.41]

if list_1 == list_2:
    print("It´s the same")

#You don´t have to anything here, only run the cell, and if you do correct the previous exercise, it will be printed "It´s the same", In other case you have to improve your code

Where it says "your code goes here" add modifications to list_2 to make both lists identical and the beautiful message "You and I are one" is printed. You can use both pop and append, but you can only modify list_2.

**ACTIVITY 3**

Below we have defined a dictionary. This dictionary is incomplete, although it may not seem so:

Below we have some procedures that have been performed using this dictionary. As you can see, some of the accesses that are being made will fail because the monthly_sales dictionary is not complete:

In [10]:
monthly_sales = {
    "cutoff_date": "05/01/2020",
    "unit": "Aragon",
    "bakery_sales": "2098",
    "bakery_earnings": "5000",
    "total_monthly_expenses": "500000",
    "Summary of monthly sales of the unit": "1000000",
    "net_profit" : "150000",
    "Net profit": "149000",
    "Total_sales_of_inputs": "123000",
    "Total sales of inputs": "123000",
    "analyst": "1345"
    }

In [11]:
total_sales_of_inputs = monthly_sales["bakery_sales"] + monthly_sales["bakery_sales"]
total_earnings = monthly_sales["bakery_earnings"] + monthly_sales["bakery_earnings"]
net_earnings = total_earnings + monthly_sales["total_monthly_expenses"]

print(f'==Summary of monthly sales of the unit {monthly_sales["unit"]}==/n')
print(f' - Total sales of inputs: {total_sales_of_inputs}')
print(f' - Total earnings: {total_earnings}')
print(f'(Information collected by: {monthly_sales["analyst"]})')

==Summary of monthly sales of the unit Aragon==/n
 - Total sales of inputs: 20982098
 - Total earnings: 50005000
(Information collected by: 1345)

Complete the monthly_sales dictionary so that the code that prints the sales summary works correctly.

**ACTIVITY 4**

a) Function number_is_even

Below you have an incomplete function:

In [10]:
def multiply_number_by_pi():
    result = number * 3.14
    
    return result
def this_function_does_always_the_same():
    
    result = 2 * 10
    
    return result

print(this_function_does_always_the_same())
print(this_function_does_always_the_same())
print(this_function_does_always_the_same())
def add_number_to_list_if_number_is_even(list, number):
    
    if number % 2 == 0:
        list.append(number)
        
    return list

list_of_ints = [2, 34, 26, 88, 4]

list_of_ints = add_number_to_list_if_number_is_even(list_of_ints, 5)
list_of_ints = add_number_to_list_if_number_is_even(list_of_ints, 66)

list_of_ints
def returns_true_if_the_value_is_between_50_and_60(value):
    
    if value > 50:
        if value < 60:
            return True
    
    return False

result_1 = returns_true_if_the_value_is_between_50_and_60(58)
result_2 = returns_true_if_the_value_is_between_50_and_60(89)

if result_1 == True:
    print("The first value is greater than 50 and less than 60")

if result_2 == True:
    print("The second value is greater than 50 and less than 60")

20
20
20
The first value is greater than 50 and less than 60

This function should take a number parameter, check if the number is even, return True if the number is even, and return False if the number is not even.

b) Code reuse

Below we have some code.
Run it to understand what is doing

In [34]:
result_1 = 34 * 100 / 100
print(f'34 is the {result_1}% of the number 100\n')

result_2 = 57 * 100 / 127
print(f'57 is the {result_2}% of the number 127\n')

result_3 = 12 * 100 / 228
print(f'12 is the {result_3}% of the number 228\n')

result_4 = 87 * 100 / 90
print(f'87 is the {result_4}% of the number 90\n')

result_5 = 1 * 100 / 999
print(f'1 is the {result_5}% of the number 999\n')

result_6 = 66 * 100 / 66
print(f'66 is the {result_6}% of the number 66\n')

34 is the 34.0% of the number 100

57 is the 44.881889763779526% of the number 127

12 is the 5.2631578947368425% of the number 228

87 is the 96.66666666666667% of the number 90

1 is the 0.1001001001001001% of the number 999

66 is the 100.0% of the number 66

This code works fine, but as you can see we are writing the same code over and over again. In the cell below, write a function that performs the math we're doing above, so we can reuse it multiple times to get the results we want. It also fills in the prints so that we can read the result in an understandable format.

In [7]:

result_1 = 15 * 100 / 100
print(f'15 is the {result_1}% of the number 100\n')

result_2 = 75 * 100 / 150
print(f'75 is the {result_2}% of the number 150\n')

result_3 = 50 * 110 / 250
print(f'50 is the {result_3}% of the number 250\n')

result_4 = 35 * 100 / 180
print(f'35 is the {result_4}% of the number 180\n')

result_5 = 12 * 100 / 150
print(f'12 is the {result_5}% of the number 150\n')

result_6 = 33 * 100 / 33
print(f'33 is the {result_6}% of the number 33\n')

15 is the 15.0% of the number 100

75 is the 50.0% of the number 150

50 is the 22.0% of the number 250

35 is the 19.444444444444443% of the number 180

12 is the 8.0% of the number 150

33 is the 100.0% of the number 33